.grid-interests {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-evenly;
    margin: 10px auto;
    height: 280vh;
}

.gridItem {
    display: block;
    /*margin: 2px 5%;*/
    border: 2px solid #ccc;
    padding: 5px;
    margin: 5px;
    text-align: center;
    height: 180px;
    width: 350px;
}

.key {
    display: inline-block;
    font-weight: bold;
    float: left;
}

.value {
    float: right;
    font-size: 0.9rem;
}

.emoji-thumb {
    display: block;
    width: 100px;
    margin: 30px auto;
    clear: both;
}

.emoji-label {
    font-weight: bold;
}

.progress-container {
    display: inline-block;
    border: 1px solid #ccc;
    width: 160px;
    float: right;
}

.progress-bar {
    display: block;
    float: right;
    background-color: #f69240;
}
