{% extends "base.html" %}
{% block title %}{{ user }}→{{ alg }}{% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}"/>

    <script src="{{ url_for('static', filename='scripts/data.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {% if data is not none %}
        <h1><a href="https://twitter.com/{{ user }}" target="_blank">{{ user }}</a></h1>
        <h2>Interests</h2>
        <div class="grid-interests" style="grid-template-rows: repeat({{ rows }}, 1fr)">
            {% for interest in interests %}
                <div class="gridItem">
                    <span class="key">{{ loop.index }}. {{ interest }}:</span>
                    <div class="progress-container">
                        <div class="progress-bar" style="width: {{ (interests[interest]/maximum)*100 }}%">
                    <span class="value">
                        {{ interests[interest] }}
                    </span>
                        </div>
                    </div>
                    {% if interest in data.emojis %}
                        <img class="emoji-thumb"
                             src="{{ url_for('static', filename='images/emojis/' + data.emojis[interest]["emoji"] + '.svg') }}"
                             alt="{{ interest }}">
                        <p >Emoji: <span class="emoji-label">{{ data.emojis[interest]["emoji"] }}</span></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Error: Data was NoneType</h1>
    {% endif %}
{% endblock %}